{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <body>
        {% include 'blog/header.html' %}
            <div class='container'>
                {% for book in books%}
                    <div class='col-md-4'>
                        <h3>{{book.name}}</h3>
                        <h4>{{book.author}}</h4>
                        <h4>{{book.language}}</h4>
                        <h4>{{book.genre}}</h4>
                        <h4>{{book.link}}</h4>
                        <h4>{{book.description}}</h4>
                        <h4>{{book.rating}}</h4>
                    </div>
                    {% endfor %}
            </div>
    </body>
{% endblock %}